<!--table-- width="600px" class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Curso</th>
      <th>Duração</th>
      <th>Alterar</th>
      <th>Remover</th>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let curso of listCurso">
    <td>{{ curso.id }}</td>
    <td>
      <div class="col-sm-10">
        <input type="text" class="input" class="form-control" value="{{ curso.nome }}" name="nomeInput" #nomeInput>
      </div>
    </td>
    <td>
      <div class="col-10">
          <input type= "text" class = "input" class="form-control" value="{{ curso.duracao }}" name = "duracaoInput" #duracaoInput>
      </div>
    </td>
    <td><button type="button" class="btn btn-danger"
      (click)="excluirCurso(curso.id)"> Excluir</button></td>
    <td> <button type="button" class ="btn btn-primary"
      (click)="modificarCursos(curso.id, nomeInput.value, duracaoInput.value)">Alterar</button></td>
  </tr>
  </tbody>
</table>
-->
<li *ngFor="let curso of listCurso">
  {{l.nome}}
</li>

<!--div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable >
      <p-column field="nome"></p-column>
      <p-column field="duracao"></p-column>
    </p-dataTable>
  </div>
</div-->

