<table width="600px" class="table table-bordered">
  <tr>
    <td class="active">Id</td>
    <td class="success">Descrição</td>
    <td class="success">Horas</td>
    <td class="danger">Excluir</td>
    <td class="active">Alterar</td>
  </tr>

  <!--c:forEach- items="${}" var="cursos">
    <form action="alterarCurso" method="post">
      <tr>
        <td><input type="text"  name="id" /></td>
        <td><input type="text"  name="nome" /></td>
        <td><input type="text" name="id" /></td>
        <td><a href="#" class="btn btn-danger">Remover</a></td>
        <td><input type="submit" value="Alterar" class="btn btn-warning"/></td>
      </tr>
    </form>
  </c:forEach-->
</table>
