
<form class="form-horizontal" [formGroup]="formulario">
  <div class="form-group">
    <div class="col-sm-9">
      <label for="nome" class="control-label">Descrição</label>
    </div>

    <div class="col-sm-4">
      <input type="text" class="form-control"
        id="nome" [(ngModel)]="nome" name="nome"
        placeholder="Descrição" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <label for="duracao" class="control-label">Duração</label>
    </div>

    <div class="col-sm-4">
      <input type="text" class="form-control"
       [(ngModel)]= "duracao" name="duracao"
        placeholder="duracao" >
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
  (click)="adicionaCurso()">Submit</button>
  <button class="btn" (click)="resetaForm()">Cancelar</button>

  </form>

  <table width="600px" class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Curso</th>
        <th>Duração</th>
        <th>Modificar</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tr *ngFor="let curso of cursos">
      <td >{{ curso.id }}</td>
      <td><input type="text" class="input" value="{{ curso.nome }}"></td>
      <td> <input type= "text" class = "input" value="{{ curso.duracao }}"></td>
      <td><button type="button" class="btn btn-danger"
        (click)="excluirCurso(curso.id)"> Excluir</button></td>
      <td class="active">Alterar</td>
    </tr>

  </table>
