<form class="form-horizontal" >
  <div class="form-group">
    <div class="col-sm-5">
      <label for="nomeCurso" class="control-label">Descrição</label>
    </div>

    <div class="col-sm-4">
      <input type="text" class="form-control"
        id="nomeCurso" placeholder="Descrição"
        [(ngModel)] = "nome" name="nome" />

    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <label for="tempoDuracao" class="control-label" >Duração</label>
    </div>

    <div class="col-sm-4">
      <input type="text" class="form-control"
      id="tempoDuracao" placeholder="Carga horária"
       [(ngModel)] = "duracao" name="duracao"/>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
  (click)="adicionaCurso()">Salvar</button>
  <button class="btn" (click)="resetaForm()" >Cancelar</button>

  </form>
<br><br>



